* {
  box-sizing: border-box;
}

.pw-form {
  width: 100%;
  margin-bottom: 4px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__label {
    width: 100%;
    font-size: 12px;
    color: rgb(135, 178, 252);
  }

  &__button {
    height: 36px;
    width: 36px;

    text-align: center;

    background-color: white;
    border: 1px solid rgb(179, 206, 251);
    border-radius: 4px;

    transition: all 0.3s;

    &:hover {
      border-color: rgb(60, 116, 213);
    }
  }

  &__input {
    width: 90%;
    height: 36px;

    border: 1px solid rgb(179, 206, 251);
    border-radius: 4px;

    padding: 0 8px;
    margin-top: 4px;

    color: rgb(60, 116, 213);

    transition: all 0.3s;

    &:focus {
      outline: 0;
      border-color: rgb(60, 116, 213);
    }

    &:hover {
      border-color: rgb(60, 116, 213);
    }
  }
}

.pw-strength-bar {
  display: flex;
  width: 100%;

  &__item {
    width: 35%;
    height: 8px;

    margin-right: 4px;
    
    background-color: rgb(188, 188, 188);
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }

    &--easy {
      background-color: #ff7f7f;
      box-shadow: 2px 2px 2px 0 #ff7f7f4e;
    }

    &--medium {
      background-color: #ffd67f;
      box-shadow: 2px 2px 2px 0 #ffd67f5c;
    }

    &--strong {
      background-color: #288c5f;
      box-shadow: 2px 2px 2px 0 #288c5f3f;
    }
  }
}
